body{
    background-image: url(../media/poverty.jpg);
}

.nav a{
  background-color: ghostwhite;
}

.active{
  background-color: mediumturquoise;
}

#givv-logo {
  width: 100%;
  border-radius: 5px;
}

#logo {
  width: 40px;
}
